<div class="col-md-4">

    <div class="card my-4">
        <h5 class="card-header">Ближайшие события</h5>
        {% for event in upcoming_events %}
            <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">{{event.announce_text}}</p>
                <div class="btn-group">
                    <a href="{% url 'event_detail' slug=event.url %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>