{% extends './base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    {% include './block/event_header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <hr>
            <img class="img-fluid rounded " src="{{ sport_event.image.url }}" alt="">
            <br>
            <br>
            <div class="d-flex flex-row justify-content-between">
                <div class="lead">
                    <a href="/locations/{{sport_event.location.id}}">
                        {{sport_event.location.name}}
                    </a>
                </div>
                <div class="lead">
                    {{sport_event.event_date}}
                </div>
            </div>
            <hr>
            <p class="lead"><small class="text-muted">Тренер</small>: {{sport_event.coach.profile.surname}} {{sport_event.coach.profile.name}}<br>{{sport_event.coach.specialization}}</p>
            <hr>
            <div class="d-flex flex-column">
                <p class="lead">
                    {{ sport_event.description|safe }}
                </p>
                <br>
                <div class="d-flex justify-content-end">
                    <h6>
                        <small class="text-muted"> Длительность:</small> {{sport_event.duration}}
                    </h6>
                </div>
            </div>
            <hr>
            {% with total_seats=sport_event.get_total_seats_count %}
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-column">
                    <progress value="{{total_seats  | mul:100 | intdiv:sport_event.ticket_number}}" max="100"></progress>
                    <div class="d-flex flex-row">
                        В наличии {{total_seats}} из {{sport_event.ticket_number}} мест
                    </div>
                    <h3>{{sport_event.price}}₽</h3>
                </div>
                <div class="d-flex flex-column">
                    {% if total_seats == 0 %}
                        <a class="btn mt-2 btn-lg btn-danger btn-block disabled" type="button" href="{%url 'reservation' slug=sport_event.url%}">Забронировать</a>
                    {% else %}
                        <a class="btn mt-2 btn-lg btn-primary btn-block" type="button" href="{%url 'reservation' slug=sport_event.url%}">Забронировать</a>
                    {% endif %}
                </div>
            </div>
            {%endwith%}
            <hr>
        </div>
        {% include './block/aside.html' %}
    </div>
</div>
{% endblock %}